<html>
        <head>
                <title>Scroller v2.0</title>
                <script src="/consolka/jquery-1.10.2.min.js?version=1.0"></script>
                <script src="/consolka/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js?version=1.0"></script>
                <link href="/consolka/style.css?version=1.0" media="screen" rel="stylesheet" type="text/css" /> 
                <link href="/consolka/jquery-ui-1.10.3.custom/css/ui-lightness/jquery-ui-1.10.3.custom.min.css?version=1.0" media="screen" rel="stylesheet" type="text/css" /> 
        </head>
<body>
                <%= yield %>
</body>
</html>
