<html>
        <head>
                <title>Scroller v2.0</title>
                <script src="public/jquery-1.10.2.min.js"></script>
                <script src="public/jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js"></script>
                <link href="public/style.css" media="screen" rel="stylesheet" type="text/css" /> 
                <link href="public/jquery-ui-1.10.3.custom/css/ui-lightness/jquery-ui-1.10.3.custom.min.css" media="screen" rel="stylesheet" type="text/css" /> 

        </head>

<body>
                <%= yield %>
</body>
</html>
