<form action="/add" method="post">
Label:    <input type="text" name="label" value="Label" />
URL:    <input type="text" name="url" value="http://" />
Active:    <input type="checkbox" name="active" />

<input type="submit" value="add" />
</form>
